.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.emacs
.sass-cache
.ssh/
__pycache__
settings/local.py
assets
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid
tests/data/assets
*.pyc
/bin
/lib
/lib64
/logs
/man
/share
pip-selfcheck.json
pyvenv.cfg
nohup.out
npm-debug.log
celerybeat-schedule
*~
s3.cfg
tests/data/s3.cfg
backend_configs